* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
    font-weight: 500;
}

body {
    /* display: flex; */
    text-align: center;
    min-height: 100vh;
    /* align-items: center; */
    margin: auto;
    overflow: hidden;
}

.slidein {
    font-size: 44px;
    color: rgb(0, 166, 166);
    animation-name: slideIn;
    animation-duration: 4s;
    /* border:2px solid red; */
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    width: fit-content;
    position: relative;
    opacity: 0;
}

@keyframes slideIn {
    0% {
        opacity: 0;
        left: 100vw;
    }

    40%,
    60% {
        opacity: 1;
        left: 40%;
    }

    100% {
        opacity: 0;
        left: -100vw;
    }
}

.bounce {
    color: firebrick;
    margin: 32px 0;
    font-size: 52px;
    animation: bounce 2s ease-in-out 0s infinite;
    animation-direction: alternate;
    text-transform: uppercase;
}

@keyframes bounce {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    70% {
        transform: scale(1.2);
        opacity: 1;
    }

    100% {
        transform: scale(1);

    }
}

.chat-bubble {
    background-color: rgb(226, 226, 226);
    width: 100px;
    height: 60px;
    border-radius: 12px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 32px auto;
    transform: scale(2);
}

.dot {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: black;
    animation: jumping 1.6s ease-in infinite;
}

#second {
    animation-delay: 0.5s;
}

#third {
    animation-delay: 0.75s;
}

@keyframes jumping {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    90% {
        transform: translateY(3px);
    }
    100% {
        transform: translateY(0px);
    }
}